@media (min-width: 1200px) {
  .linkContainer {
    gap: 3em;
  }
}

@media (max-width: 1250px) {

  body {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {

  body {
    font-size: 16px;
  }

  main {
    grid-template-columns: 4fr 2fr;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 4px;
  }

  .respBtn {
    display: none;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 1em 2em;
  }

  .header {
    padding: 1em 2em;
  }

  #logo {
    height: 4em;
  }
}

@media (max-width: 800px) {

  main {
    grid-template-columns: 4fr 2fr;
  }

  #logo {
    height: 4em;
  }
}

@media (max-width: 750px) {

  .header {
    padding: 1em 1em 1em 1em;
  }

  .footer {
    padding: 1em 1em 1em 1em;
  }

  #logo {
    height: 3em;
  }
}

@media (max-width: 680px) {
  #logo {
    height: 2.5em;
  }

  .linkContainer {
    gap: 0.5em;
  }
}


@media (min-width: 600px) {

  #shoppingCartBtn {
    display: none;
  }

  #shoppingBasket {
    display: block;
  }
}

@media (max-width: 620px) {

  a {
    font-size: 1em;
  }

  .sellContainer {
    position: block;
    width: -webkit-fill-available;
  }

  main {
    display: flex;
  }

  .padding {
    padding: 8px;
  }

  .grid-container {
    padding: 3px;
  }

  #logo {
    height: 2em;
  }
}

@media (max-width: 490px) {
  .searchBox {
    display: none;
  }

  .footerLogo {
    display: none;
  }

  .footer {
    padding: 0.5em;
    flex-direction: column;
    gap: 12px;
  }

  .padding {
    padding: 6px;
  }
}

@media (max-width: 380px) {

  h1 {
    font-size: 2em;
  }

  .iconImg {
    height: 1.5em;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}